@model Sydenham_Library_System.Models.PRODUCTS

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PRODUCTS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PRODID" class="control-label"></label>
                <input asp-for="PRODID" class="form-control" />
                <span asp-validation-for="PRODID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TITLE" class="control-label"></label>
                <input asp-for="TITLE" class="form-control" />
                <span asp-validation-for="TITLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AUTHOR" class="control-label"></label>
                <select asp-for="AUTHOR" class ="form-control" asp-items="ViewBag.AUTHOR"></select>
            </div>
            <div class="form-group">
                <label asp-for="PRODTYPES" class="control-label"></label>
                <select asp-for="PRODTYPES" class ="form-control" asp-items="ViewBag.PRODTYPES"></select>
            </div>
            <div class="form-group">
                <label asp-for="GENRES" class="control-label"></label>
                <select asp-for="GENRES" class ="form-control" asp-items="ViewBag.GENRES"></select>
            </div>
            <div class="form-group">
                <label asp-for="AVAILABILITY" class="control-label"></label>
                <select asp-for="AVAILABILITY" class ="form-control" asp-items="ViewBag.AVAILABILITY"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
